<form action="/restaurants/{{ restaurant._id }}?_method=PUT" method="POST" class="d-grid gap-2 col-6 mx-auto">
  <input type="text" class="form-control mb-3" placeholder="name" name="name" value="{{ restaurant.name }}" required>
  <input type="text" class="form-control mb-3" placeholder="name_en" name="name_en" value="{{ restaurant.name_en }}" required>
  <input type="text" class="form-control mb-3" placeholder="category" name="category" value="{{ restaurant.category }}" required>
  <input type="text" class="form-control mb-3" placeholder="image" name="image" value="{{ restaurant.image }}" required>
  <input type="text" class="form-control mb-3" placeholder="location" name="location" value="{{ restaurant.location }}" required>
  <input type="text" class="form-control mb-3" placeholder="phone" name="phone" value="{{ restaurant.phone }}" required>
  <input type="text" class="form-control mb-3" placeholder="google_map" name="google_map" value="{{ restaurant.google_map }}" required>
  <input type="text" class="form-control mb-3" placeholder="rating" name="rating" value="{{ restaurant.rating }}" required>
  <input type="text" class="form-control mb-3" placeholder="description" name="description" value="{{ restaurant.description }}" required>
  <div class="d-flex justify-content-center align-items-center">
    <button type="submit" class="btn btn-major mr-3">Save</button>
    <a href="/">back</a>
  </div>
</form>